body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.content {
    background: url("/img/pemandangan.jpg") no-repeat;
    padding: 2px;
    width: 155.35vh;
    height: 720px;
    margin: 0;
    margin-left: 00px;
    padding-left: 15%;
}

.content form input {
    height: 5vh;
    width: 50vh;
}

.content form button {
    height: 5vh;
    width: 10vh;
    background-color: #3498db;
    color: white;
}
form {
    margin-left: 20%;
}

/* Membuat tampilan sidebar responsif */
@media screen and (max-width: 768px) {
    .sidebar {
        width: 100%;
        height: auto;
        position: static;
        background-color: #333;
    }

    .content {
        margin-left: auto; /* Sesuaikan dengan kebutuhan Anda */
        margin-right: 0;
    }
}
.artikel {
    text-align: center;
}

.artikel h1 {
    background: #3498db;
    color: white;
    padding: 20px;
}

.kartu {
    display: inline-block;
    width: calc(20% - 20px); /* 33.33% width for each card with 20px spacing */
    background: #f1f1f1;
    margin: 10px;
    padding: 10px;
    box-sizing: border-box;
    text-align: center;
    height: 300px;
}

.kartu img {
    max-width: 100%;
    height: auto;
}

.kartu h2 {
    margin-top: 10px;
}
